.cid-sdSX03qBy6 {
    padding-top: 60px;
    padding-bottom: 0px;
    background-color: #ffffff;
}

.cid-sdSX03qBy6 .container-fluid {
    padding: 0 2rem;
}

.cid-sdSX03qBy6 .mbr-section-title, .cid-sdSX03qBy6 .underline {
    text-align: center;
}

.cid-sdSX03qBy6 .underline .line {
    width: 80px;
    height: 4px;
    background-color: #0ca6c1;
    display: inline-block;
}

.cid-sdSX03qBy6 .timeline-element {
    margin-bottom: 50px;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.cid-sdSX03qBy6 .separline:before, .cid-sdSX03qBy6 .first-separline:before {
    top: 3rem;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #0ca6c1;
    left: calc(25% - 1px);
    height: calc(100% + 2rem);
}

.cid-sdSX03qBy6 .iconBackground {
    position: absolute;
    left: 25%;
    width: 20px;
    height: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #0ca6c1;
    font-size: 30px;
    display: inline-block;
    top: 29px;
    margin-left: -10px;
}

.cid-sdSX03qBy6 .timeline-text-content {
    padding: 2rem 2.5rem;
    margin-left: 2rem;
    text-align: left;
}

/* .cid-sdSX03qBy6 .separline:after {
    top: calc(100% + 6.1rem);
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #0ca6c1;
    left: calc(25% - 1px);
    height: 100%;
} */

.cid-sdSX03qBy6 .time-line-date-content {
    margin-right: 2rem;
}

.container2, .container-fluid2 {
    position: relative;
    word-wrap: break-word;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.align-center2 {
    text-align: center;
}

.align-left2 {
    text-align: left;
}
