header {
  background-image: url("../images/Bajo.png");
  background-size: cover;
}

.small-container {
  width: 95%;
  margin: 0 auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.violet-overlay {
  background-color: rgba(189, 140, 191, 0.51);
  width: 100%;
  height: 100%;
  padding: 70px 0;
}

.white-overlay {
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 100%;
}

h2 span,
h1 span {
  color: #bd8cbf;
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  transition: all 0.5s ease;
}

button {
  padding: 0;
}

body {
  font-size: 1.1rem;
}

/* navbar */

nav.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  z-index: 1000;
  font-family: "Open Sans", sans-serif;
}

nav.navbar a,
nav.navbar ul li a {
  color: #fff !important;
}

nav.navbar ul li {
  padding: 0 15px;
}

nav.navbar .search-container {
  position: relative;
}

nav.navbar form {
  padding: 5px;
  background-color: white;
  position: absolute;
  width: 260px;
  display: none;
}

nav.navbar form input {
  padding: 5px 10px;
  border: 1px solid #b7b5b5;
  background-color: #e6e3e3;
  width: 100%;
}

/* header */

header {
  position: relative;
  color: #fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header .container {
  height: 100%;
}

header .container > div {
  margin: 0 auto;
  position: relative;
  /*    text-align: center;*/
}

header .container > div h1 {
  font-size: 90px;
}

header button {
  background-color: transparent;
  display: block;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0;
  margin: 30px auto;
}

header button a {
  padding: 10px 40px;
  display: block;
  color: #fff;
}

header button:hover {
  background-color: #bd8cbf;
  border: 1px solid #bd8cbf;
}

header button:hover a {
  color: white;
}

/* about us */

.about-us {
  position: relative;
  padding: px 0;
  font-family: "Open Sans", sans-serif;
}

.about-us .row > .col-lg-6:first-of-type {
  position: relative;
  left: -5px;
}

.about-us .small-container > p + div {
  padding: 30px 0;
  background-color: white;
  box-shadow: 5px 5px 10px #d2cfcf, -5px -5px 10px #d2cfcf;
}

.about-us .small-container > p + div h4 {
  margin-bottom: 40px;
}

.about-us .small-container .text-right p {
  margin-bottom: 40px;
  width: 80%;
  float: right;
}

.about-us .small-container > p + div button {
  background-color: #bd8cbf;
  border: none;
}

.about-us .small-container > p + div a {
  display: block;
  color: #fff;
  padding: 10px 40px;
}

.about-us .item {
  width: 200px;
  position: absolute;
  color: white;
  background-color: #bd8cbf;
}

.about-us .item p {
  font-size: 15px;
}

.about-us .item img {
  width: 100%;
  height: 150px;
}

.about-us .item h5 {
  margin: 5px 0;
}

.about-us .item p {
  margin-bottom: 5px;
}

.about-us .item:first-of-type {
  left: 405px;
  bottom: 115px;
  z-index: 3;
  box-shadow: -2px 2px 10px #5d5959;
}

.about-us .item:nth-of-type(2) {
  left: 105px;
  bottom: 115px;
  z-index: 2;
  box-shadow: 2px 2px 10px #5d5959;
}

.about-us .item:nth-of-type(3) {
  position: relative;
  top: 200px;
  left: -45px;
}

.about-us .item:nth-of-type(3) img {
  position: absolute;
  bottom: 10px;
  right: 0px;
  z-index: 1;
}

.about-us .item:last-of-type {
  left: 268px;
  top: 50px;
}

.about-us .first {
  width: 100px;
  height: 200px;
  position: absolute;
  background-color: #bd8cbf;
  top: 140px;
  z-index: -5;
}

.about-us .second {
  width: 100px;
  height: 200px;
  position: absolute;
  background-color: #bd8cbf;
  bottom: 58px;
  right: 34px;
  z-index: -5;
}

.about-us .row > div > .item:nth-of-type(3) div {
  position: relative;
  z-index: 5;
  background-color: #bd8cbf;
  padding: 5px;
}

/* services */

.services {
  margin-bottom: 100px;
  font-family: "Open Sans", sans-serif;
}

.services .slide {
  width: 70%;
  margin: 0 auto;
}

.services .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}

.services .carousel-inner img {
  height: 100%;
  width: 100%;
}

.services .carousel-control-next,
.services .carousel-control-prev {
  width: 60px;
  height: 60px;
  background: #bd8cbf;
  border-radius: 50%;
}

.services .carousel-control-next i,
.services .carousel-control-prev i {
  color: #000;
}

.services .carousel-control-next {
  right: 0;
  top: 80%;
  right: 40%;
  background-color: #fff;
}

.services .carousel-control-prev {
  top: 80%;
  left: 40%;
}

.services i {
  color: #bd8cbf;
}

/* agency */

.agency {
  background-image: url("../imgs/agency.jpg");
  font-family: "Open Sans", sans-serif;
  background-size: cover;
}

.agency .container > div {
  margin: 0 auto;
  width: 86%;
  margin-bottom: 30px;
}

.agency .white-overlay {
  padding: 50px 0 20px;
}

.agency .container > div > div {
  display: inline-block;
  position: relative;
}

.agency .container > div > div img {
  width: 500px;
  margin: 0 20px;
}

.agency img:first-of-type,
.agency img:last-of-type {
  width: 200px;
}

.agency .container > div h2 {
  position: absolute;
  color: white;
  bottom: 105px;
  left: 195px;
  font-size: 40px;
}

/* statistics */

.statistics {
  padding: 50px 0;
  font-family: sans-serif;
}

.statistics i,
.statistics p {
  color: #bd8cbf;
}

.statistics i {
  margin-bottom: 10px;
}

.statistics h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
}

/* contact */

.contact {
  background-image: url("../imgs/contact.jpg");
  background-size: cover;
}

.contact h2 {
  color: white;
  margin-bottom: 30px;
}

.contact .contact-form {
  width: 50%;
  margin: 0 auto;
}

.contact form input,
.contact form textarea {
  width: 100%;
  outline: none;
  border: none;
  padding: 5px 10px;
}

.contact form input {
  border-radius: 50px;
  margin-bottom: 20px;
}

.contact form textarea {
  resize: none;
  height: 130px;
  border-radius: 25px;
  margin-bottom: 30px;
}

.contact form input[type="submit"] {
  width: 130px;
  height: 40px;
  padding: 0;
  line-height: 40px;
  background-color: #ef44f8;
  color: white;
  margin: 0 auto;
  display: block;
}

.invoice {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.invoice h3 {
  margin-bottom: 20px;
}

.custom-select {
  width: 100%;
  padding: 50px;
  border: 1px solid #bd8cbf;
  border-radius: 5px;
  background-color: white;
  font-size: 1.1rem;
  color: #555;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-select:focus {
  border-color: #bd8cbf;
  box-shadow: 0 0 5px rgba(189, 140, 191, 0.5);
  outline: none;
}

.custom-select option {
  padding: 15px;
  color: #000;
}

/* Style for the placeholder option */
.custom-select option[disabled] {
  color: #999;;
}

/* footer */

footer,
footer a {
  color: white;
}

footer {
  display: block;
  overflow: hidden;
  background-color: #563158;
}

footer a:hover {
  color: #bd8cbf;
}

footer .container > ul {
  overflow: hidden;
  margin: 30px 0;
  padding-left: 0;
}

footer .container > ul li {
  float: left;
  padding-right: 25px;
}

footer .item h4 {
  margin-bottom: 20px;
}

footer .item p.address {
  line-height: 1.2;
  font-size: 16px;
}

footer .item ul {
  padding-left: 0;
}

footer .item ul li {
  margin-bottom: 3px;
  font-size: 16px;
}

footer .date p {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 300;
}

footer .item form {
  overflow: hidden;
}

footer .item form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 10px;
}

footer .item form input[type="submit"] {
  width: 100px;
  height: 40px;
  line-height: 4px;
  background-color: #ef44f8;
  border: none;
  float: right;
  color: #fff;
  padding: 0;
}

footer .copyright {
  background-color: #59355b;
  padding: 15px 0;
}

footer .copyright p {
  margin-bottom: 0;
  font-size: 16px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.popup form {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.popup form input,
.popup form textarea {
  width: 100%;
  outline: none;
  border: 0.5px solid rgb(201, 201, 201);
  padding: 5px 10px;
  margin-bottom: 10px;
}

.popup form input {
  border-radius: 50px;
  margin-bottom: 20px;
}

.popup form textarea {
  resize: none;
  height: 130px;
  border-radius: 25px;
  margin-bottom: 30px;
}

.popup form button {
  width: 130px;
  height: 40px;
  padding: 0;
  line-height: 40px;
  background-color: #ef44f8;
  color: white;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 20px;
}

.close2 {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.qr-code {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

/* media queries */

@media (max-width: 1200px) {
  /* about */

  .about-us .row > .col-lg-6:first-of-type {
    left: -10px;
  }
  .about-us .small-container .text-right p {
    width: 70%;
  }
  .about-us .item {
    width: 150px;
  }
  .about-us .item img {
    height: 125px;
  }
  .about-us .item:first-of-type {
    left: 440px;
    bottom: 154px;
  }
  .about-us .item:nth-of-type(2) {
    left: 167px;
    bottom: 153px;
  }
  .about-us .item:nth-of-type(3) {
    top: 149px;
    left: 19px;
  }
  .about-us .item:last-of-type {
    left: 305px;
    top: 132px;
  }

  .about-us .row > div > .item:nth-of-type(3) img {
    position: static;
  }

  .about-us .row > div > .item:nth-of-type(3) p {
    display: none;
  }

  /* agency */

  .agency img:first-of-type,
  .agency img:last-of-type {
    width: 150px;
  }
  .agency .container > div > div img {
    max-width: 400px;
    width: 100%;
  }
  .agency .container > div h2 {
    bottom: 87px;
    left: 164px;
    font-size: 30px;
  }
  .agency .container > div h2 {
    display: none;
  }
}

@media (max-width: 992px) {
  /* header */

  header h1 {
    font-size: 65px !important;
  }

  /* navbar */

  .navbar ul {
    background-color: rgba(189, 140, 191, 0.85);
  }
  .navbar ul li {
    margin: 10px 0;
  }
  nav.navbar form {
    width: 100%;
    position: static;
  }

  /* about */

  .about-us .small-container > p + div {
    padding: 50px 0;
  }
  .about-us .row > .col-lg-6:first-of-type {
    height: 350px;
    left: 50px;
  }
  .about-us .small-container .text-right p {
    width: 100%;
  }

  /* services */

  .services .slide {
    width: 80%;
  }

  .services .carousel-control-next,
  .services .carousel-control-prev {
    width: 50px;
    height: 50px;
  }

  /* agency */

  .agency img:first-of-type,
  .agency img:last-of-type {
    display: none;
  }
  .agency .container > div > div img {
    display: block;
  }
  .agency .container > div {
    width: 56%;
  }

  /* statistics */

  .statistics .col-lg-3 {
    margin-bottom: 40px;
  }

  /* contact */

  .contact .contact-form {
    width: 70%;
  }

  /* footer */

  footer .col-lg-3 {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  /* header */

  header h1 {
    font-size: 50px !important;
  }

  /* about */

  .about-us .row > .col-lg-6:first-of-type {
    display: none;
  }

  /* services */

  .services .slide {
    width: 90%;
  }
  .services .carousel-control-next,
  .services .carousel-control-prev {
    display: none;
  }

  /* agency */

  .agency .container > div {
    width: 87%;
  }
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.stars input[type="radio"] {
  display: none;
}
.stars label {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
}
.stars label:before {
  content: '★';
}
.stars input[type="radio"]:checked ~ label {
  color: #ffcc00;
}

/* CSS untuk tombol di header */
.paket-button {
  background-color: #4CAF50; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  border: none; /* Menghilangkan border tombol */
  padding: 15px 32px; /* Jarak antara isi tombol dengan tepi tombol */
  text-align: center; /* Menengahkan teks dalam tombol */
  text-decoration: none; /* Menghilangkan garis bawah pada teks */
  display: inline-block; /* Membuat elemen berperilaku seperti inline-block */
  font-size: 16px; /* Ukuran teks tombol */
  margin: 4px 2px; /* Jarak antara tombol */
  cursor: pointer; /* Mengubah kursor menjadi pointer saat diarahkan ke tombol */
  text-transform: uppercase; /* Mengubah teks menjadi huruf besar */
  border-radius: 4px; /* Membuat sudut tombol menjadi melengkung */
  transition: background-color 0.3s; /* Animasi untuk perubahan warna latar belakang */
}

/* CSS untuk hover efek */
.paket-button:hover {
  background-color: #45a049; /* Warna latar belakang saat tombol di-hover */
}
/************************/
/*     07. Services     */
/************************/
.cards-2 {
	padding-top: 6.625rem;	
	padding-bottom: 1.25rem;	
	background-color: #fbfbfb;
}

.cards-2 .section-title2 {
	margin-bottom: 0.5rem;
	text-align: center;
}

.cards-2 h2 {
	margin-bottom: 3.25rem;
	text-align: center;
}

.cards-2 .card {
	margin-bottom: 5.625rem;
	border: none;
	background-color: transparent;
}

.cards-2 .card-image img {
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
}

.cards-2 .card-body {
	padding: 2.25rem 2rem 2.125rem 2rem;
	border: 1px solid #ebe8e8;
	border-bottom-left-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
	background-color: #fff;
}

.cards-2 h3 {
	margin-bottom: 0.75rem;
	text-align: center;
}

.cards-2 .list-unstyled {
	margin-bottom: 1.5rem;
}

.cards-2 .list-unstyled .fas {
	color: #14bf98;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.cards-2 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.cards-2 .price {
	margin-bottom: 0.25rem;
	color: #484a46;
	font: 700 1rem/1.5rem "Montserrat", sans-serif;
	text-align: center;
}

.cards-2 .price span {
	color: #14bf98;
}

.cards-2 .button-container2 {
	display: flex;
	justify-content: center;
	margin-top: -1.375rem;
}

.cards-2 .btn-solid-reg2 {
	display: inline-block;
	padding: 1.1875rem 1.875rem 1.1875rem 1.875rem;
	border: 0.125rem solid #14bf98;
	border-radius: 0.25rem;
	background-color: #14bf98;
	color: #fff;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
	margin: auto;
}

.cards-2 .btn-solid-reg2:hover {
	background-color: transparent;
	color: #14bf98;
	text-decoration: none;
}

.section-title2 {
	color: #14bf98;
	font: 500 0.8125rem/1.125rem "Montserrat", sans-serif;
}

/* Services */
.cards-2 .card {
  max-width: 18.25rem;
  display: inline-block;
  vertical-align: top;
}

.cards-2 .col-lg-12 div.card:nth-child(3n+2) {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}
/* end of services */

/* Services */
.cards-2 .card {
  max-width: 20.875rem;
}

.cards-2 .card-body {
  padding: 2.25rem 2.5rem 2.125rem 2.5rem;
}

.cards-2 .col-lg-12 div.card:nth-child(3n+2) {
  margin-right: 3rem;
  margin-left: 3rem;
}
/* end of services */

.li-space-lg li {
	margin-bottom: 0.375rem;
}

.fa-square:before {
  content: "\f0c8"; }

.fa-square-full:before {
  content: "\f45c"; }

/* Lightbox buttons */
.lightbox-basic .btn-solid-reg2,
.lightbox-basic .btn-outline-reg {
	margin-right: 0.375rem;
	margin-bottom: 1rem;
}

.lightbox-basic .btn-solid-reg2,
.lightbox-basic .btn-outline-reg {
  margin-bottom: 0;
}
/* end of project lightboxes */

.slider {
  overflow: hidden;
}

.slide {
  display: inline-block;
  width: 100%;
  transition: transform 0.5s ease;
}

.slide .card {
  margin: 0 auto; /* agar card berada di tengah */
  max-width: 18.25rem; /* lebar maksimum card */
  display: inline-block;
  vertical-align: top;
  transition: transform 0.5s ease; /* efek transisi saat sliding */
}