<!-- reviews.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <style>
        /* Tambahkan CSS sesuai kebutuhan */
    </style>
</head>
<body>
    <h1>Reviews</h1>
    <ul>
        {% for review in reviews %}
        <li>
            <h2>{{ review.title_review }}</h2>
            <p><strong>Tour:</strong> {{ review.tour }}</p>
            <p><strong>Rating:</strong> {{ review.rating }}</p>
            <p><strong>Date:</strong> {{ review.date_go }}</p>
            <p><strong>Go with:</strong> {{ review.go_with }}</p>
            <p><strong>Review:</strong> {{ review.review }}</p>
            <!-- Jika kolom 'photos' berisi URL foto, Anda dapat menampilkan foto dengan menggunakan tag <img> -->
            <!-- Contoh: -->
            <!-- <img src="{{ review.photos }}" alt="Review Photo"> -->
        </li>
        {% endfor %}
    </ul>
</body>
</html>
